#detail__product {
  background-color: var(--my-background-color);
  .detail__product-container {
    padding: 16px 0px;
  }
  .main__info-container {
    margin: 16px 0px;
    background-color: white;
  }
}
