.global__products__list {
  background-color: white;
  padding-bottom: 32px;
  .products__list-title {
    padding: 16px;
    margin: 0px;
  }
  .list-container {
    // margin: 0px -8px;
  }
  .products__list-item__wrapper {
    padding: 0px 8px;
  }
}