.product__record {
  padding: 6px 4px;
  border-bottom: 1px solid rgb(237, 235, 235);
  &:hover {
    background: rgba(22, 24, 35, 0.05);
  }
  img {
    aspect-ratio: 1;
    object-fit: cover;
  }
  .title__record-info__section {
    .info-value {
      padding: 8px 0;
      .ant-switch-checked {
        background: rgb(34, 197, 139);
      }
      &.title {
        color: #333;
        font-weight: 500;
      }
      &.price {
        color: var(--my-red);
      }
    }
    .thumbnail {
      display: block;
      img {
        width: 80%;
      }
    }
  }
}
