#profile {
	background-color: #f5f5fa;
	padding-bottom: 20px;
	.bread__crumb-container {
		padding: 16px 0;
	}
	.profile-content {
		.sidebar__heading {
			display: flex;
			align-items: center;
			padding-left: 8px;
			margin-bottom: 12px;
			.sidebar__heading-avatar {
				border-radius: 50%;
				margin-right: 12px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 50%;
				}
			}
			.sidebar__heading-info {
				font-size: 13px;
				font-weight: 300;
				.username {
					font-size: 16px;
					line-height: 19px;
					margin-top: 4px;
					font-weight: 400;
				}
			}
		}
		.content-wrapper {
			.content__heading {
				font-size: 20px;
				line-height: 32px;
				font-weight: 300;
				margin: 4px 0 12px;
			}
			.main-content-wrapper {
				background-color: #fff;
				border-radius: 4px;
			}
		}
	}
	.ant-menu-item {
		color: var(--text-gray-color);
		margin: 0;
	}
	.ant-menu-item-selected {
		background-color: #ebebf0;
		color: #000;
	}
	.ant-menu-vertical {
		border: none;
		background-color: transparent;
	}
	.content-wrapper {
		margin-left: 17px;
	}
}

p {
	margin: 0;
}
