#header_main {
  background: var(--my-primary-color);
  .header-sale {
    background-color: var(--my-red);
    padding: 8px;
    h2 {
      color: white;
      font-size: 14px;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
  .header_main__wrap {
    .ant-row {
      align-items: center;
    }
    .header_main__top {
      .header_main__top__wrap {
        padding: 18px 0 8px;
        .top_left {
          .logo {
            .logo_link {
              width: 60px;
              height: 40px;
              display: block;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
          .search {
            .search_wrap {
              display: flex;
              input {
                border: 0px;
                padding: 0px 12px;
                font-size: 13px;
                border-radius: 2px 0px 0px 2px;
                flex: 1 1 0%;
                outline: none;
              }
              button {
                cursor: pointer;
                border: 0px;
                width: 120px;
                background: rgb(13, 92, 182);
                height: 40px;
                border-radius: 0px 2px 2px 0px;
                color: white;
                font-size: 13px;
                font-weight: 500;
                outline: none;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                  width: 20px;
                  height: 20px;
                  margin: 0px 8px 0px 0px;
                }
              }
            }
          }
        }
        .top_right {
          display: flex;
          align-items: center;
          .account {
            cursor: pointer;
            align-items: center;
            display: flex;
            color: rgb(255, 255, 255);
            letter-spacing: 0.7px;
            width: 162px;
            .account_icon {
              width: 32px;
              height: 32px;
              margin-right: 8px;
              border-radius: 2px;
            }
            .account_text {
              color: rgb(255, 255, 255);
              font-weight: 400;
              white-space: nowrap;
              display: flex;
              flex-direction: column;
              .nowrap {
                white-space: nowrap;
                text-overflow: ellipsis;
                display: inline-block;
                overflow: hidden;
                text-transform: capitalize;
                font-size: 11px;
                line-height: 16px;
              }
              .label {
                display: flex;
                align-items: center;
                font-size: 13px;
                line-height: 20px;
                min-width: 120px;
                span {
                  max-width: 104px;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                }
                img {
                  width: 16px;
                  height: 16px;
                }
              }
            }
          }
          .cart {
            .cart_link {
              display: flex;
              align-items: flex-end;
              width: 94px;
              cursor: pointer;
              margin: 0 0 0 16px;
              color: rgb(255, 255, 255);
              font-size: 12px;
              position: relative;
              .cart_wrap {
                display: flex;
                margin-right: 8px;
                img {
                  width: 32px;
                  height: 32px;
                }
                span {
                  color: rgb(36, 36, 36);
                  background: rgb(253, 216, 53);
                  height: 20px;
                  left: 20px;
                  top: -2px;
                  border-radius: 40px;
                  display: inline-block;
                  text-align: center;
                  line-height: 20px;
                  font-size: 13px;
                  font-weight: 500;
                  position: absolute;
                  padding: 0px 7px;
                }
              }
            }
          }
        }
        .favorite__list {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          a {
              color: #ffffff;
          }
        }
      }
    }
    .header_main__bottom {
      .header_main__bottom__wrap {
        .badge {
          transform: translateY(-6px);
          display: block;
          img {
            height: 12px;
            width: 83px;
          }
        }
        .quicks_search {
          height: 32px;
          a {
            font-size: 11px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.45;
            letter-spacing: normal;
            color: white;
            margin-right: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #header_main {
    display: none;
  }
}

.overlay_account {
  // width: 265px;
  .ant-dropdown-menu {
    padding: 10px 0;
    .ant-dropdown-menu-item {
      line-height: unset;
      padding: 4px 20px;
      .ant-dropdown-menu-title-content {
        a {
          font-size: 12px;
          color: rgb(51, 51, 51);
          .badge_notification {
            color: rgb(255, 255, 255);
            font-size: 9px;
            border-radius: 11px;
            min-width: 18px;
            display: inline-block;
            height: 12px;
            line-height: 11px;
            vertical-align: text-top;
            text-align: center;
            margin: 0px 3px;
            padding: 1px 3px;
            background-color: rgb(255, 51, 35);
          }
          .my_order,
          .my_account {
            width: 21px;
            height: 21px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
