.update-item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  &__content {
    display: flex;
    flex-direction: column;
    flex: 3;
    .content {
      margin-top: 4px;
      margin-right: 8px;
    }
  }
  &__icon {
    margin-right: 12px;
  }
  .ant-btn {
    justify-self: flex-end;
    border-radius: 4px;
    border: 1px solid #0f73e5;
    color: #0f73e5;
    flex: 1;
  }
  &:first-child {
    border: none;
  }
}
